 @media(max-width:810px){
.hd-img{
  display: none !important;
}
.hd-txt{
  width: 100% !important;
}
.desktop-menu-tray{
  display: none;
}
.mobile-menu-bag{
  display: block;
}

 }




 @media(max-width:600px){
  .side-margin{
    margin: 0px !important;
  }
  .logo-box{
    display: none;
  }
  .tab-align-last-odd{
   width: 100%;
 }
 .tab-align{
   width: 48%;
 }
 .body-tab{
   padding-left: 1em;
   padding-right: 1em;
 }




}


@media(max-width:350px){
   
 .tab-align{
   width: 100%;
 }
}






 @keyframes mobilehide{
  from{
      opacity: 1;
    
  }
  to {
      opacity: 0;
  }
}

@keyframes mobileshow{
  from{
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}